body{
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/8/70/4yBAzK.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.text-dark{
    margin: 40px;
    font-family: "Apple Color Emoji", "Arial Nova Light";
}
.navbar-brand{
    margin-right: 20px;
    margin-left: 20px;
}
.nav-link{
    margin-right: 10px;
}
.bg-primary {
    padding: 0;
    height: 60px;
}

.form-group{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 3px #000000, 0 0 5px #101010;
}

.btn-primary{
    margin-top: 15px;
}
